
{sub_dirs, [
    "./deps",
    "./release"
]}.

{erl_opts, [debug_info,
            bin_opt_info,
            warn_missing_spec]}.
{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "1.0.1"} },
    {systools, ".*", {git, "git://github.com/sdanzan/erlang-systools", {branch, "master"}} },
    {erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl.git", "0.10.0"} }
]}.
